/** @import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
 @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300); **/

body{
	margin: 0;
	padding: 0;
	background: #fff;

	color: #fff;
	font-family: Arial;
	font-size: 12px;
}

.grad{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: auto;
	height: auto;
	z-index: 1;
	opacity: 0.7;
}


.logo {
    width: 18%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    height: auto%;
}

.login{
	background-color: #00003c;
	top: 40%;
	display:block;
    margin-left: auto;
    margin-right: auto;
	height: 230px;
	width: 295px;
	padding: 22px;
	border-radius: 10px;
	z-index: 2;
}
.login label{
	font-size: 14px;
	font-weight: bold;
	color : white;
}
.login input[type=text]{
	width: 250px;
	height: 25px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-bottom: 10px;

}

.login input[type=password]{
	width: 250px;
	height: 25px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login input[type=submit]{
	width: 250px;
	height: 35px;
	background: #f2b809;
	border: 1px solid #00003c;
	cursor: pointer;
	border-radius: 2px;
	color: white;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=submit]:hover{
	opacity: 0.8;
}

.login input[type=submit]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=submit]:focus{
	outline: none;
}
